
* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  html {
    height:100%;

  }

  body {
    height:100%;
  }
  #root{
    min-height: calc(100%);
    padding-bottom: 60px;
    position: relative;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }